{% extends 'base.html'%} 
{% import 'macros.html' as macro%}
<!-- Styles block -->
{% block styles%} 
    {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> 
<link href="https://fonts.googleapis.com/css?family=Cinzel|Libre+Baskerville|Merienda|ZCOOL+XiaoWei" rel="stylesheet">
{% endblock %}
<!-- Content block -->
{% block content %}
<div class="container-fluid">
    <div class="row">
    
    <div class="col-md-6 title">
        <h1>News Headlines</h1>
        <h5><em>~ News at your finger tips! ~</em></h5>
    </div>
        
    <div class="col-sm-12 col-md-12">
    <h2>Available News Sources</h2>
    </div>

    <div class="row">
    {% if sort_type == 'Category' %}
        <div class="category">
        {% for Category in Categories %}
            <div class="col-sm-12 col-md-12">
            {{macro.displayCategory(Category)}}
            </div>
            <ul class="row">
            {{macro.displaySources(Category)}}
            </ul>
        {% endfor %}
        </div>

    {% else %}
        <div class="all">
        <ul class="row">
            {{macro.displaySources(sources)}}
        </ul>
        </div>
    {% endif %}
    <h3>Powered by NewsAPI</h3>
    </div>
</div>
{% endblock %}

