<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Sources</a></li>
                <li><a href="/">Articles>>></a></li>
                <li><a href="/{{'categories/Business'}}">Business</a></li>
                <li><a href="/{{'categories/Technology'}}">Tech</a></li>
                <li><a href="/{{'categories/Science'}}">Science</a></li>
                <li><a href="/{{'categories/Sports'}}">Sports</a></li>
                <li><a href="/{{'categories/Entertainment'}}">Showbiz</a></li>
            </ul>
            <span class="navbar-text">
                ©News Api 
            </span>
        </div>

    </div>
</div>